<div class="modal-header">
  <input type="text" style="display:none" />
  <h4 class="modal-title">Order Info</h4>
  <button type="button" class="close" mat-button mat-dialog-close aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="modal-body">
  <br>
  <div *ngFor="let order of orders" >
    <div *ngIf="order.id == data.id">
      <h3 style=" word-break: break-all" class="modal-text">{{order.Title}}</h3>
      <h5 style=" word-break: break-all" class="modal-order-id">{{order.Detail}}</h5>
      <img src="{{order.ModelURL}}" alt="Girl in a jacket" width="270" height="270">
      <br>
    </div>
  </div>
</div>

