<div class="modal-header" >
  <button class="close" style="float: right;" mat-button mat-dialog-close aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  <input matInput type="text" style="display:none" />
  <h4 style="margin: 7px 2px;" class="modal-title" >Reset Password</h4>
</div>


<div class="modal-body">
  <mat-form-field appearance="Legacy" style="width:500px; height: 110px;">
    <textarea [(ngModel)]="email" matInput matSelect style="height: 110px; width:500px; font-size: 16px; resize: both; overflow: auto" appearance="Legacy" placeholder="Please write an email for the password reset"></textarea>
  </mat-form-field>
</div>

<div class="modal-footer">
  <mat-dialog-actions style="font-size: 16px">
    <button mat-button (click)="forgotPassFunctionality()" style="float: left;">Send Email</button>
  </mat-dialog-actions>
</div>
