 <h1 style="text-align: center; size: 60px;">Printer/Shaper page</h1><br>
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
 <h2 style="text-align: center;">Your current rating:<br><br>
 <span class="fa fa-star checked" style="font-size: 35px;"></span>
 <span class="fa fa-star checked" style="font-size: 35px;"></span>
 <span class="fa fa-star checked" style="font-size: 35px;"></span>
 <span class="fa fa-star" style="font-size: 35px;"></span>
 <span class="fa fa-star" style="font-size: 35px;"></span>
 </h2>
 <h2 style="text-align: center;"><button onclick="document.location='default.asp'">Edit profile</button></h2>
  <div class="row">
    <div class="column">
      <h2 style="text-align: center">Placed orders</h2>
        <h3>First order</h3>
      <p>
        Description first shaper(The World Wide Fund for Nature (WWF) is an international organization working on
        issues
        regarding the conservation, research and restoration of the environment, formerly named the World Wildlife
        Fund. WWF was founded in 1961.)
      </p>
      <button class="button">Accept</button>
      <button class="button button2">Deny</button>

        <h3>Second order</h3>
      <p>
        Description second shaper(The World Wide Fund for Nature (WWF) is an international organization working on
        issues
        regarding the conservation, research and restoration of the environment, formerly named the World Wildlife
        Fund. WWF was founded in 1961.)
      </p>
      <button class="button">Accept</button>
      <button class="button button2">Deny</button>

        <h3>Third order</h3>
      <p>
        Description third shaper(The World Wide Fund for Nature (WWF) is an international organization working on
        issues
        regarding the conservation, research and restoration of the environment, formerly named the World Wildlife
        Fund. WWF was founded in 1961.)
      </p>
      <button class="button">Accept</button>
      <button class="button button2">Deny</button>
    </div>

    <div class="column">
      <h2 style="text-align: center">My orders</h2>
      <h3>First order</h3>
      <p>
        Description first shaper(The World Wide Fund for Nature (WWF) is an international organization working on
        issues
        regarding the conservation, research and restoration of the environment, formerly named the World Wildlife
        Fund. WWF was founded in 1961.)
      </p>

        <h3>Second order</h3>
      <p>
        Description second shaper(The World Wide Fund for Nature (WWF) is an international organization working on
        issues
        regarding the conservation, research and restoration of the environment, formerly named the World Wildlife
        Fund. WWF was founded in 1961.)
      </p>

        <h3>Third order</h3>
      <p>
        Description third shaper(The World Wide Fund for Nature (WWF) is an international organization working on
        issues
        regarding the conservation, research and restoration of the environment, formerly named the World Wildlife
        Fund. WWF was founded in 1961.)
      </p>
    </div>
  </div>
